html,
body {
  width: 90%;
  margin: auto;
}

#header {
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  box-sizing: border-box;
  width: 1600px;
}

.item {
  border: 3px solid white;
  cursor: pointer;
}
